body {
  background-color: #222;
}

.messages {
  background-color: white;
  overflow-y: scroll;
  height: 300px;
}

.username {
  font-weight: bold;
}

#messageField {
  resize: none;
}

.form-control:focus {
  border-color: yellow;
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.075), 0 0 10px rgba(255, 195, 0, 0.6);
}
